{% extends "base.html" %}
{% comment %} {% extends "navbar.html" %} {% endcomment %}

{% block title%} Cuisines {% endblock title%} 

{% block body%}

{% if user.is_authenticated %}
   <!-- Show page -->
{% else %}
    <!-- redirect to  signin -->
{% endif %}

<div class="container-fluid">

  {% if cuisine_list %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h1 class="my-3 text-center">All cuisines</h1>

      <!-- <img src="https://source.unsplash.com/600x300/?pasta,noodles,berries,cake,juice" class="d-block w-100" alt="..."> -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for data in cuisine_list %}

        <div class="col">
          <div class="card shadow-sm">
            {% if data.csn_cat_image %}
            <img src="{{ data.csn_cat_image.url }}" class="d-block w-100" alt="...">
            {% else %}
                No image data
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><b>{{ data.csn_cat_name }}</b></h5>
              <p class="card-text">{{ data.csn_cat_desc }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{%url 'menubycat' data.id %}" class="btn btn-outline-secondary btn-sm">Menu</a>
                  <a href="{% url 'edit-cuisine' data.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                  {% if user.is_authenticated and user.is_superuser %}
                  <a href="{% url 'delete-cuisine' data.id %}" class="btn btn-outline-secondary btn-sm">Delete</a>
                  {% endif %}
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div> <!-- end Row-->
    </div> <!-- Container-->
  </div> <!-- album -->

  {% else %}
    No cuisines found
  {% endif %}
</div>

<!-- ================ end page body ================== -->

{% endblock body%} 



{% comment %} 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All menu items </h1>
            {% if cuisine_list %}
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th><th scope="col">Name</th><th scope="col">desc</th><th scope="col">image</th><th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in cuisine_list %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.csn_cat_name}}</td>
                    <td>{{data.csn_cat_desc}}</td>
                    <td>
                        {% if data.csn_cat_image %}
                            <img src="{{ data.csn_cat_image.url }}" height="100">
                        {% else %}
                          no image data
                        {% endif %}

                    </td>
                    <td>
                      <a href="{% url 'edit-cuisine' data.id %}" class="btn btn-primary btn-sm">Edit</a>
                      <a href="{% url 'delete-cuisine' data.id %}" class="btn btn-primary btn-sm">Delete</a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
              {% else %}
                No cuisines found
              {% endif %}

        </div>
    </div>
</div> {% endcomment %}